<div class="row text-center">
  <h1>Admin Orders Index</h1>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="table-responsive panel panel-default">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Checkout Date</th>
            <th>Revenue</th>
            <th>Customer Email</th>
            <th>Customer State</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders as |order|}}
          <tr>
            <td><a href="/admin/orders/{{order.id}}">{{order._id}}</a></td>
            <td>{{order.description}}</td>
            <td>{{order.createdAt}}</td>
            <td>${{order.revenue}}.00</td>
            <td>{{order.user.email}}</td>
            <td>{{order.address.state}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
