<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="text-align:center;">
      <h3 style="margin-bottom: 2em;">Admin Orders Show</h3>
      <div class="col-sm-6">
        <h3>Ordered Items</h3>
        {{#each products as |prod|}}
        <table class="table table-bordered table-hover table-striped" style="text-align:left">
          <thead>
            <tr>
              <th>Field</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Name</th>
              <td>{{prod.name}}</td>
            </tr>
            <tr>
              <th>Price</th>
              <td>$ {{prod.price}} .00</td>
            </tr>
            <tr>
              <th>SKU</th>
              <td>{{prod.sku}}</td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{prod.description}}</td>
            </tr>
            <tr>
              <th>Category</th>
              <td>{{prod.Category.name}}</td>
            </tr>
            <tr>
              <th>Quanity</th>
              <td>{{lookup ../admin.orderedQuanity @index}}</td>
            </tr>
          </tbody>
        </table>
        {{/each}}
      </div>
      <div class="col-sm-6">
        <h3>Customer Info</h3>
        <table class="table table-bordered table-hover table-striped" style="text-align:left">
          <thead>
            <tr>
              <th>Field</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>First Name</th>
              <td>{{admin.customer.fname}}</td>
            </tr>
            <tr>
              <th>Last Name</th>
              <td>{{admin.customer.lname}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{admin.customer.email}}</td>
            </tr>
            <tr>
              <th>Street</th>
              <td>{{admin.customer.address.street}}</td>
            </tr>
            <tr>
              <th>City</th>
              <td>{{admin.customer.address.city}}</td>
            </tr>
            <tr>
              <th>State</th>
              <td>{{admin.customer.address.state}}</td>
            </tr>
          </tbody>
        </table>
        <h3>Order Info</h3>
        <table class="table table-bordered table-hover table-striped" style="text-align:left">
          <thead>
            <tr>
              <th>Field</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Checkout Date</th>
              <td>{{dateShorter admin.order.checkoutDate}}</td>
            </tr>
            <tr>
              <th>Stripe Token</th>
              <td>{{admin.order.stripeToken}}</td>
            </tr>
            <tr>
              <th>Card Type</th>
              <td>{{admin.order.cardType}}</td>
            </tr>
            <tr>
              <th>Email</th>
              <td>{{admin.order.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
