{{#each products as |product|}}
<a href="/productShowcase/{{product.id}}" class="product-blurb">
    <img src={{product.image}} width="70%" height="130px">
    <h5>{{product.name}}</h3>
    <p>{{product.description}}</p>
    <p>${{product.price}}</p>
    <p>{{product.category}}</p>
    <form method="post" action="/shoppingCart">

      <!-- info for cart -->
      <input type="hidden" value="{{product.id}}" name="cartId">
      <input type="hidden" value="1" name="quantity">
      <input type="hidden" value="{{product.name}}" name="name">

      <input class="add-to-cart-button" type="submit" value="Add to cart"/>
    </form>
  </a>
{{/each}}

