<div class="row text-center">
  <h1>Checkout</h1>
</div>

<form action="/charges" method="post">
  <div class="row">
    <div class="col-sm-5">
      <h2 class="text-center">Billing Info</h2>
      <div class="panel panel-default">
        <fieldset>
          <legend class="col-form-legend text-center">Personal</legend>
          <div class="form-group row">
            <label for="order_user_fname" class="col-sm-3 col-form-label">First Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="order_user_fname" name="order[user][fname]">
            </div>
          </div>
          <div class="form-group row">
            <label for="order_user_lname" class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="order_user_lname" name="order[user][lname]">
            </div>
          </div>
          <div class="form-group row">
            <label for="order_user_email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="order_user_email" name="order[user][email]">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend class="col-form-legend text-center">Address</legend>
          <div class="form-group row">
            <label for="order_address_street" class="col-sm-3 col-form-label">Street</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="order_address_street" name="order[address][street]">
            </div>
          </div>
          <div class="form-group row">
            <label for="order_address_city" class="col-sm-3 col-form-label">City</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="order_address_city" name="order[address][city]">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-offset-3 col-sm-3">
              <select class="form-control" name="order[address][state_id]">
                <option value="" selected disabled hidden>State</option>
                {{#each states as |state|}}
                <option value="{{state.id}}">{{state.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-1">
      <h2 class="text-center">Order Items</h2>
      <div class="panel panel-default">
        {{#each products as |product|}}
        <div class="row">
          <div class="col-sm-2">
            <img src="/images/product_image.jpg" class="img-responsive">
          </div>
          <div class="col-sm-5">
            <a href="/products/{{product.id}}">{{product.name}}</a>
          </div>
          <div class="col-sm-5">
            ${{product.price}} x {{product.quantity}} = ${{product.subtotal}}.00
          </div>
        </div>
        {{/each}}
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-7">
          <h3>Total: ${{total}}.00</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <a href="/cart"><button type="button" class="btn btn-danger">Return to Cart</button></a>
        </div>
        <div class="col-sm-4">
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{STRIPE_PK}}"
            data-amount="100"
            data-name="Stripe Node Test"
            data-description="Widget"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto">
          </script>
        </div>
      </div>
    </div>
  </div>
</form>
