{{!-- { __v: 0,
  updatedAt: 2017-04-21T22:33:41.245Z,
  createdAt: 2017-04-21T22:33:41.245Z,
  fname: 'Elizabeth',
  lname: 'DeWitt',
  email: 'liz@columbia.edu',
  street: '56 Songbird Ln.',
  city: 'Columbia',
  state: 'DC',
  products:
   [ { quantity: 1,
       sku: 'BJlrdVqD0x',
       description: 'Eligendi odio nemo.',
       price: 29.56,
       name: 'Unbranded Steel Sausages',
       category: 'Jewelery',
       id: 13 },
     { quantity: 2,
       sku: 'HJMOEcDAe',
       description: 'Non explicabo pariatur quibusdam.',
       price: 70.42,
       name: 'Practical Plastic Chair',
       category: 'Jewelery',
       id: 7 } ],
  stripe:
   { transfer_group: null,
     status: 'succeeded',
     statement_descriptor: null,
     source_transfer: null,
     source:
      { tokenization_method: null,
        name: 'liz@columbia.edu',
        last4: '4242',
        funding: 'credit',
        fingerprint: 'euTAzKCyxMcMSGC9',
        exp_year: 2018,
        exp_month: 1,
        dynamic_last4: null,
        cvc_check: 'pass',
        customer: null,
        country: 'US',
        brand: 'Visa',
        address_zip_check: null,
        address_zip: null,
        address_state: null,
        address_line2: null,
        address_line1_check: null,
        address_line1: null,
        address_country: null,
        address_city: null,
        object: 'card',
        id: 'card_1ABAJpGnwiXPkfuYsMjhHwm2' },
     shipping: null,
     review: null,
     refunds:
      { url: '/v1/charges/ch_1ABAJsGnwiXPkfuYG7dVrBOn/refunds',
        total_count: 0,
        has_more: false,
        data: [],
        object: 'list' },
     refunded: false,
     receipt_number: null,
     receipt_email: null,
     paid: true,
     outcome:
      { type: 'authorized',
        seller_message: 'Payment complete.',
        risk_level: 'normal',
        reason: null,
        network_status: 'approved_by_network' },
     order: null,
     on_behalf_of: null,
     livemode: false,
     invoice: null,
     failure_message: null,
     failure_code: null,
     dispute: null,
     destination: null,
     description: 'purchase',
     customer: null,
     currency: 'usd',
     created: 1492814020,
     captured: true,
     balance_transaction: 'txn_1ABAJtGnwiXPkfuYd4rm9W22',
     application_fee: null,
     application: null,
     amount_refunded: 0,
     amount: 17040,
     object: 'charge',
     id: 'ch_1ABAJsGnwiXPkfuYG7dVrBOn' },
  stripeToken: 'tok_1ABAJpGnwiXPkfuYuOXEbT6I',
  revenue: 170.4,
  quantity: 3,
  _id: 58fa88c56bcf9c62751c2183 } --}}

<header class="page-header mb-5">
  <h4 class="mb-4">Your order has been successfully submitted.</h4>
  <a href="/products"><h5>Back to the Market</h5></a>
</header>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="bg-danger">
          <th class="text-white" colspan="2">
            {{ order.fname }} {{ order.lname }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Address</td>
          <td>{{ order.street }}, {{ order.city }}, {{ order.state }}</td>
        </tr>
        {{#each order.products as |product|}}
          <tr class="bg-primary text-white">
            <td colspan="2">{{ product.name }}</td>
          </tr>
          <tr>
            <td>Price</td>
            <td>{{ currency product.price }}</td>
          </tr>
          <tr>
            <td>Quantity</td>
            <td>{{ product.quantity }}</td>
          </tr>
        {{/each}}
        <tr class="bg-danger text-white">
          <td>Total</td>
          <td>{{ currency order.revenue }}</td>
        </tr>
      </tbody>
    </table>
  </div>
