<li><a href="/products/{{product.id}}">
	<div class="row">
		<div class="col-xs-5">
			<p class="product thumbnail">
				<img src="{{product.product.img}}" alt="{{product.product.name}}">
			</p>
		</div>
		<div class="col-xs-7">
			<p><small>{{product.product.name}} ({{product.quantity}})</small></p>
		</div>
		</a>
	</div>
</a></li>
