<h2>Cart</h2>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		{{#each products as |product|}}
			<div class="row">
				<div class="col-xs-4 col-sm-3">
					<img src="/images/{{product.imagePath}}" class="img-thumbnail">
				</div>
				<div class="col-xs-8 col-sm-3">
					<p>{{product.name}}</p>
					<p>{{product.Category.name}}</p>
					<p>${{product.price}}.00</p>
				</div>
				<div class="col-xs-6 col-sm-3">
					<input type="text" class="form-control" value="{{product.quantity}}">
				</div>
				<div class="col-xs-6 col-sm-3">
					<button class="btn btn-success">Set Quantity</button>
					<button class="btn btn-danger">Remove</button>
				</div>
			</div>
		{{/each}}
		<div class="row">
			<div class="col-xs-4 col-md-3">
				<h3>Total: ${{product.sum}}.00</h3>
			</div>
			<div class="col-xs-4 col-md-3 col-md-offset-3">
				<button class="btn btn-danger">Clear Cart</button>
			</div>
			<div class="col-xs-4 col-md-3">
				<button class="btn btn-primary">Checkout</button>
			</div>
		</div>
	</div>
</div>

