<h1>Checkout</h1>

<div class="container">
  <div class='row'>
    <div class='col-md-5'>
      <form class='form-control panel'>
        <div class='panel panel-default'
      <h2>Billing Info</h2>
        <p>Personal Info</p>
        <label>First Name</label>
        <input type='text' name='fname'/>
        <br />
        <label>Last Name</label>
        <input type='text' name='lname'/>
        <br />
        <label>Email</label>
        <input type='text' name='email'/>
        <br />
        <p>
          Address
        </p>
        <br />
        <label>Street</label>
        <input type='text' name='street'/>
        <br />
        <label>City</label>
        <input type='text' name='city'/>

        <select class='form-control'>
          {{#each states as |state|}}
            <option>{{state}}</option>
          {{/each}}
        </select>
      </form>
    </div>
      </div>

    <div class='col-md-5'>
      <h2>Order Items</h2>
      {{#each cartItems as |item|}}
        <div class='panel panel-default'>
          <div class="panel-body">
            <img src='' />
            <p>{{item.name}}</p>
            <p>{{item.quantity}} * ${{item.price}} = ${{item.total}}</p>
          </div>
        </div>
      {{/each}}
      <div>
        <h2>Total: ${{total}}</h2>
      </div>
      <a href='/cart'><button class="btn btn-danger">Return to Cart</button></a>
      <button class="btn btn-primary">Submit Payment</button>
    </div>

  </div>
</div>
