
<div class='container'>
<h1 class='text-center'>Checkout</h1>
  <div class='row'>
    <div class='col-md-6 offset-md-3 card mt-2'>
      <table class='table table-striped'>
        <thead>
          <th>Product</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </thead>
      {{#each itemsArr as |item|}}
      <tr>
          <td>{{item.[0]}}</td>
          <td>${{item.[2]}}</td>
          <td>{{item.[1]}}</td>
          <td>${{item.[3]}}</td>
      </tr>
      {{/each}}
    </table>
    </div>
    <div class='col-md-6 offset-md-3 card my-2'>
      <h1>Total: ${{total}}</h1>
    </div>
    <div class='col-md-6 offset-md-3 card pt-3'>
      <form action='/charges' method='post' class='form-group'>
        <input type='hidden' name='cartid' value='{{cartID}}'>
        <input type='hidden' name='orderTotal' value='{{total}}'>
        <input type='text' name='fname' placeholder='First Name' class='form-control'>
        <input type='text' name='lname' placeholder='Last Name' class='form-control'>
        <input type='email' name='email' placeholder='email' class='form-control'>
        <input type='text' name='streetAddress' placeholder='Street Address' class='form-control'>
        <select name='state' class='form-control'>
          <option value='Alabama'>Alabama</option>
          <option value='Alaska'>Alaska</option>
          <option value='Arizona'>Arizona</option>
          <option value='Arkansas'>Arkansas</option>
          <option value='California'>California</option>
          <option value='Colorado'>Colorado</option>
          <option value='Connecticut'>Connecticut</option>
          <option value='Delaware'>Delaware</option>
          <option value='Florida'>Florida</option>
          <option value='Georgia'>Georgia</option>
          <option value='Hawaii'>Hawaii</option>
          <option value='Idaho'>Idaho</option>
          <option value='Illinois'>Illinois</option>
          <option value='Indiana'>Indiana</option>
          <option value='Iowa'>Iowa</option>
          <option value='Kansas'>Kansas</option>
          <option value='Kentucky'>Kentucky</option>
          <option value='Louisiana'>Louisiana</option>
          <option value='Maine'>Maine</option>
          <option value='Maryland'>Maryland</option>
          <option value='Massachusetts'>Massachusetts</option>
          <option value='Michigan'>Michigan</option>
          <option value='Minnesota'>Minnesota</option>
          <option value='Mississippi'>Mississippi</option>
          <option value='Missouri'>Missouri</option>
          <option value='Montana'>Montana</option>
          <option value='Nebraska'>Nebraska</option>
          <option value='Nevada'>Nevada</option>
          <option value='New Hampshire'>New Hampshire</option>
          <option value='New Jersey'>New Jersey</option>
          <option value='New Mexico'>New Mexico</option>
          <option value='New York'>New York</option>
          <option value='North Carolina'>North Carolina</option>
          <option value='North Dakota'>North Dakota</option>
          <option value='Ohio'>Ohio</option>
          <option value='Oklahoma'>Oklahoma</option>
          <option value='Oregon'>Oregon</option>
          <option value='Pennsylvania Rhode Island'>Pennsylvania Rhode Island</option>
          <option value='South Carolina'>South Carolina</option>
          <option value='South Dakota'>South Dakota</option>
          <option value='Tennessee'>Tennessee</option>
          <option value='Texas'>Texas</option>
          <option value='Utah'>Utah</option>
          <option value='Vermont'>Vermont</option>
          <option value='Virginia'>Virginia</option>
          <option value='Washington'>Washington</option>
          <option value='West Virginia'>West Virginia</option>
          <option value='Wisconsin'>Wisconsin</option>
          <option value='Wyomin'>Wyomin</option>
        </select>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="{{stripeKey}}" data-amount="100" data-name="Stripe Node Test" data-description="Widget" data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto"></script>
      </form>
    </div>
  </div>
</div>
