<!-- <h2>New User</h2> -->

<!-- search  -->

<!-- <div class="container"> -->
<!--   <form class="form&#45;inline" action = '/products/search' method = "post"> -->
<!--     <div class="form&#45;group"> -->
<!--       <label class="mr&#45;sm&#45;2" for="inlineFormCustomSelectPref1">Gender</label> -->
<!--       <select class="custom&#45;select mb&#45;2 mr&#45;sm&#45;2 mb&#45;sm&#45;0" name="gender"id="inlineFormCustomSelectPref1"> -->
<!--         <option value="male">Male</option> -->
<!--         <option value="female">Female</option> -->
<!--       </select> -->
<!--     </div> -->
<!--  -->
<!--     <div class="form&#45;group"> -->
<!--       <label class="mr&#45;sm&#45;2" for="inlineFormCustomSelectPref2">Age</label> -->
<!--       <select class="custom&#45;select mb&#45;2 mr&#45;sm&#45;2 mb&#45;sm&#45;0" name="age" id="inlineFormCustomSelectPref2"> -->
<!--         <option value="20">20</option> -->
<!--         <option value="21">21</option> -->
<!--         <option value="22">22</option> -->
<!--         <option value="23">23</option> -->
<!--         <option value="24">24</option> -->
<!--         <option value="25">25</option> -->
<!--         <option value="26">26</option> -->
<!--         <option value="27">27</option> -->
<!--         <option value="28">28</option> -->
<!--         <option value="29">29</option> -->
<!--       </select> -->
<!--     </div> -->
<!--  -->
<!--     <div class="form&#45;group"> -->
<!--       <label class="mr&#45;sm&#45;2" for="inlineFormCustomSelectPref3">City</label> -->
<!--       <select class="custom&#45;select mb&#45;2 mr&#45;sm&#45;2 mb&#45;sm&#45;0" name="city" id="inlineFormCustomSelectPref3"> -->
<!--         <option value="somecity">somecity</option> -->
<!--         <option value="nocity">nocity</option> -->
<!--       </select> -->
<!--     </div> -->
<!--      -->
<!--     <input type = "submit" value = "submit"> -->
<!--   </form> -->
<!-- </div> -->

<!--  search results -->
<div class = "container-fluid">
	<div class = "row">
			<form  class="form-inline" action="/products/search" method="post">
				<select name="category">
					{{#each categories as |category|}}
					<option value="{{category.name}}">{{category.name}}</option>
					{{/each}}
				</select>
				<select name="price">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
				<select name="min_max">
					<option value="min">min</option>
					<option value="max">max</option>
				</select>
		</form>
	</div>
<div class = "row">
<form class="form-inline" action = "/products/sort" method = "post">
<select name="sort_by">
	<option value="price">price</option>
	<option value="name">name</option>
</select>
<select name="asc_desc">
	<option value="ascending">ascending</option>
	<option value="descending">descending</option>
</select>
<input type="submit" class="btn btn-primary">
<input type="submit" class="btn btn-primary">
</form>
</div>
</div>

<div class="container-fluid">
  <div class="row">
    {{#each result as |product|}}
      <div class="col-md-3">
	      <img height="40" width="40" src="/images/stock-vector-product-quality-vector-icon-539804044.jpg">
        <p>{{product.name}}</p>
        <p>{{product.category}}</p>
        <p>{{product.price}}</p>
        <p>{{product.description}}</p>
        <p>{{product.stock}}</p>
      </div>
    {{/each}}
  </div>
</div>
