<div class="row">
  {{#if productSel}}
  {{#each productSel as |productSel|}}
  <div class="col-xs-12">
    <h2>Product</h2>
      <section class="product-box">
        <img src="{{productSel.imageUrl}}" class="img-responsive" align="middle" />
        <h3><strong>Price: </strong>${{ productSel.price }}.00</h3>
        <h3><strong>Name: </strong>{{ productSel.name }}</h3>
        <h3><strong>Category: </strong>{{ productSel.Category.name }}</h3>
        <p>{{productSel.description}}</p>
        <div class="text-center cart-button"><button type="button" class="btn btn-primary">Add to Cart</button></div>
      </section>
  </div>
  {{/each}}
  {{/if}}
</div>

<div class="row">
  {{#if products}}
  {{#each products as |product|}}
    <div class="col-xs-4">
      <section class="product-box">
        <img src="{{product.imageUrl}}" class="img-responsive" align="middle" />
        <h3><strong>Price: </strong>${{ product.price }}.00</h3>
        <h3><strong>Name: </strong>{{ product.name }}</h3>
        <h3><strong>Category: </strong>{{ product.Category.name }}</h3>
        <div class="text-center cart-button"><button type="button" class="btn btn-primary">Add to Cart</button></div>
      </section>
    </div>
  {{/each}}
  {{/if}}
</div>
