
<div id="main-item-display">
  <div id="showcase-img">
    <img src={{primaryItem.image}} width="70%" height="150px">
  </div>
  <div id="showcase-blurb">
    <p>{{ session.backUrl }}</p>
    <h5>{{primaryItem.name}}</h3>
    <p>{{primaryItem.description}}</p>
    <p>${{primaryItem.price}}</p>
    <p>{{primaryItem.category}}</p>
    <form method="get" action="/shoppingCart/addNew">
      <input type="hidden" value="{{primaryItem.id}}" name="cartId">
      <input class="add-to-cart-button" type="submit" value="Add to cart"/>
    </form>
  </div>
</div>

<div id="product-showcase">
{{#each relatedItems as |relatedItem|}}
  <a href="/productShowcase/{{relatedItem.id}}" class="related-item-display">
    <img src={{relatedItem.image}} width="70%" height="150px">
    <h5>{{relatedItem.name}}</h3>
    <p>{{relatedItem.description}}</p>
    <p>${{relatedItem.price}}</p>
    <p>{{relatedItem.category}}</p>
    <form method="get" action="/shoppingCart/addNew">
      <input type="hidden" value="{{relatedItem.id}}" name="cartId">
      <input class="add-to-cart-button" type="submit" value="Add to cart"/>
    </form>
  </a>
{{/each}}
</div>
