<div class="container">

<h2 class="text-center">Analytics</h2>
<br>

<div class="row cart-body">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
        <!--TOTALS-->
        <div class="panel panel-info">
            <div class="panel-heading">
               Totals <div class="pull-right"></div>
            </div>
            <div class="panel-body">

              <table class="table">
                <thead>
                  <tr>
                    <th>Field</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>
                         Total Revenue
                      </td>
                      <td>
                        {{ totals.totalRevenue}}</a>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Total Units Sold
                      </td>
                      <td>
                        {{ totals.totalUnitsEver}}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Total Transactions
                      </td>
                      <td>
                        {{ totals.totalTransactions }}
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Total Customers
                    </td>
                    <td>
                      {{totals.totalUsers}}
                    </td>
                    </tr>
                    <tr>
                      <td>
                        Total Products
                    </td>
                    <td>
                      {{totals.totalProducts}}
                    </td>
                    </tr>
                    <tr>
                      <td>
                        Total Categories
                    </td>
                    <td>
                      {{totals.totalCategories}}
                    </td>
                    </tr>
                    <tr>
                    <td>
                      Total States Sold To
                  </td>
                  <td>
                    {{totals.totalStates}}
                  </td>
                  </tr>

                </tbody>
              </table>

            </div>
          </div>




</div>
