<header class="page-header">
  <h1>Admin Orders Index</h1>
</header>


{{#if orders.length }}
  <table class="table">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Products</th>
        <th>Date</th>
        <th>Revenue</th>
        <th>Email</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders as |order| }}
      <tr>
        <td>
          <a href="/orders/{{ order.Profile.id }}">{{ order._id }}</a>
        </td>
        <td>
          <ul>
            {{#each order.products as |product|}}
              <li>
                {{ product.name }}
              </li>
            {{/each}}
          </ul>
        </td>
        <td>
          {{ order.createdAt }}</a>
        </td>
        <td>
          {{ order.total }}</a>
        </td>
        <td>
          <a href="/users/{{ order.Profile.id }}">{{ order.Profile.Location.distance }}</a>
        </td>
        <td>
          <a href="/users/{{ order.Profile.id }}">{{ order.Profile.gender }}</a>
        </td>
      </tr>
      {{/each }}
    </tbody>
  </table>
{{else }}
  <p class="text-danger">No orders</p>
{{/if }}
