<header class="page-header">
  <h1 class="text-center mb-5">Admin Orders</h1>
</header>

{{#if orders.length }}
  <table class="table">
    <thead>
      <tr>
        <th>Order Id</th>
        <th>Products</th>
        <th>Date</th>
        <th>Revenue</th>
        <th>Email</th>
        <th>State</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders as |order| }}
      <tr>
        <td>
          <a href="/analytics/{{ order._id }}">{{ order._id }}</a>
        </td>
        <td>
          <ul>
            {{#each order.products as |product|}}
              <li>
                <a href="/products/{{product.id}}">
                  {{ product.name }}
                </a>
              </li>
            {{/each}}
          </ul>
        </td>
        <td>
          {{ order.createdAt }}
        </td>
        <td>
          {{ currency order.total }}
        </td>
        <td>
          {{ order.email }}</a>
        </td>
        <td>
          {{ order.state }}</a>
        </td>
      </tr>
      {{/each }}
    </tbody>
  </table>
{{else }}
  <p class="text-danger">No orders</p>
{{/if }}
