<header class="page-header">
  <h1 class="text-center mb-5">Admin Order Details</h1>
</header>

<div class="row">
  <div class="col-sm-6">
    <h3 class="text-center mb-4">Products</h3>
    {{#each order.products as |product|}}
    <table class="table table-bordered">
      <thead class="thead-default">
        <tr>
          <th colspan="2">
            {{ product.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Price</td>
          <td>{{ currency product.price }}</td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td>{{ product.quantity }}</td>
        </tr>
        <tr>
          <td>SKU</td>
          <td>{{ product.sku }}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ product.description }}</td>
        </tr>
        <tr>
          <td>Category</td>
          <td>{{ product.category }}</td>
        </tr>
      </tbody>
    </table>
    {{/each}}
  </div>

  <div class="col-sm-6">
    <h3 class="text-center mb-4">Customer Info</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>First Name</td>
          <td>{{ order.fname }}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{ order.lname }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ order.email }}</td>
        </tr>
        <tr>
          <td>Street</td>
          <td>{{ order.street }}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{ order.city }}</td>
        </tr>
        <tr>
          <td>State</td>
          <td>{{ order.state }}</td>
        </tr>
      </tbody>
    </table>

    <h3 class="text-center mb-4">Order Info</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td>Checkout Date</td>
          <td>{{ order.createdAt }}</td>
        </tr>
        <tr>
          <td>Stripe Token</td>
          <td>{{ order.stripeToken }}</td>
        </tr>
        <tr>
          <td>Card Type</td>
          <td>Visa</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
