<div class='container'>
  <div class='row justify-content-center'>
    <h3 class='col-xs-12' align='center'>Orders</h3>
  </div>
</div>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-10'>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Checkout Date</th>
            <th>Mollah</th>
            <th>Customer Email</th>
            <th>Customer State</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders as |order| }}
            <tr>
              <th scope="row">?</th>
              <td><a href='/orders/{{order.stripe.id}}'>{{order.user.fname}}</a></td>
              <td><a href='/orders/{{order.stripe.id}}'>{{order.stripe.createdAt}}</a></td>
              <td><a href='/orders/{{order.stripe.id}}'>${{order.stripe.amount}}</a></td>
              <td><a href='/orders/{{order.stripe.id}}'>{{order.user.email}}</a></td>
              <td><a href='/orders/{{order.stripe.id}}'>{{order.user.state}}</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
