{{#if products.length }}
  <div class="row">
    {{#each products as |product| }}
    <div class="col-sm-offset-4 col-sm-8">
      <div class="card">
        <a href="/products/{{ product.id }}">
          <img class="card-img-top gallery-image" src="http://i.imgur.com/qK42fUu.jpg">
        </a>
        <div class="card-block">
          <div class="float-right">
            ${{product.price}}
          </div>
          <h4 class="card-title">
            <a href="/products/{{ product.id }}">
              {{product.name}}
            </a>
          </h4>
          <p class="card-text">
            <form action="cart/edit" method="post">
              <label>Quantity</label>
              <input type="hidden" name="id" value="{{product.id}}">
              <input type="number" name="quantity" min="0" value="{{product.quantity}}">
              <button type="submit" class="btn btn-primary">Set Quantity</button>
            </form>
          </p>
          <p class="card-text">
            <form>

            </form>
          </p>
          <p class="card-text">
            in
            <a href="/categories/{{ product.Category.id }}">
              {{product.Category.name}}
            </a>
          </p>
          <p class="card-text">
            {{product.description}}
          </p>
        </div>
      </div>
    </div>
    {{/each }}
  </div>


{{else }}
  <p class="text-danger">No products</p>
{{/if }}
