<header class="page-header">
 <h1>Cart</h1>

</header>

{{#each cartProducts as |product|}}
<div class="row">
  <div class="col-xs-3">
      <img src="/images/{{product.photo}}" height="180" width="180">
  </div>
  <div class="col-xs-3">
      <p>{{product.name}}</p>
      <p>{{product.Category.name}}</p>
      <p>{{product.price}}</p>
  </div>
  <div class="col-xs-3">
      <form action="/cart/updateQuantity" method="POST">
        <input type="hidden" name="productId" value="{{product.id}}">
        <input type="text" name="productQuantity" value="{{product.quantity}}">
  </div>
  <div class="col-xs-3">
    <button type="submit" class="btn btn-primary">Set Quantity</button>
    </form>
    <form action="/cart/remove" method="POST">
      <input type="hidden" name="productId" value="{{product.id}}">
      <button type="submit" class="btn btn-danger">Remove</button>
  </div>
    </form>
</div>
{{/each}}

<form action="/cart/clear" method="POST">
  <button type="submit" class="btn btn-danger">Clear Cart</button>
</form>
