<h1>My Shopping Cart</h1>
{{#if nothing}}
<h1>Your cart is empty</h1>
{{else}}
{{#each result as |product|}}

  <ul class="list-unstyled">
    <li class="media">
      <img class="mr-3" src="/images/{{ photoId product.id}}.jpg" alt="Card image cap" style="width:320px;">
      <div class="media-body">
        <h3 class="mt-0 mb-1">{{product.name}}</h3>
        <h5>{{product.Category.name}}</h5>
        <h2>${{product.price}}.00</h2>
        <form class="col-md" action="/mycart/updateitem" method="post">
          <div class="form-row">
            <div class="col">
              <input class="form-control" type="number" name="quantity" value="{{product.quantity}}">
            </div>
            <div class="col">
              <input  class="btn btn-primary form-control" type="submit" name="" value="Update quantity">
            </div>
            <div class="col">
              <a class="btn btn-danger form-control" href="/clear/{{product.id}}">Clear From Cart</a>
            </div>

          </div>
          <div class="form-group">
          </div>
          <input  type="hidden" name="id" value="{{product.id}}">
        </form>
      </div>
    </li>
  </ul>
{{/each}}

<div class="row">
  <h1 class="mr-3" >Total: ${{total}}</h1>
  <a class="btn btn-danger mr-3" href="/mycart/delete">Clear Cart</a>
  <a class="btn btn-primary mr-3" href="/checkout">Checkout</a>
</div>
{{/if}}
