<header class="page-header col-xs-12">
  <h1>Shopping Cart</h1>
</header>

{{#if cartProducts}}
<h2 class="col-xs-12">Products</h2>
{{#each cartProducts as |product| }}
<div class="col-sm-6 col-md-4 col-lg-3">
  <article class="panel panel-default">
    <header class="panel-heading">
      <a href="{{ productPath product.id }}">
        <h3 class="panel-title">
          {{ product.name }} | <small for="count">{{ product.prettyPrice }}</small>
        </h3>
      </a>
    </header>
    <section class="panel-body">
      <p>Category: {{ product.Category.name }}</p>
      <p>Subtotal: {{ product.subtotal }}</p>
      {{> shared/_updateCart product=product }}
    </section>
  </article>
</div>
{{/each }}
<footer class="col-xs-12">
  <h3>Total: {{ cartTotal }}</h3>
  <a class="btn btn-danger" href="{{ destroyCartsPath }}">Empty Cart</a>
  <a class="btn btn-success" href="{{ checkoutPath }}">Check Out</a>
</footer>
{{else }}
<p class="text-info">You have no products in your cart...</p>
{{/if}}
