{{#if products.length }}
  <div class="row">
    {{#each products as |product| }}
    <div class="col-sm-offset-4 col-sm-8">
      <div id="product{{product.id}}" class="card my-3">
        <a href="/products/{{ product.id }}">
          <img class="card-img-top gallery-image" src="{{product.img}}">
        </a>
        <div class="card-block">
          <div class="float-right">
            {{currency product.price}}
          </div>
          <h4 class="card-title">
            <a href="/products/{{ product.id }}">
              {{product.name}}
            </a>
          </h4>
          <p class="card-text">
            in
            <a href="/categories/{{ product.Category.id }}">
              {{product.Category.name}}
            </a>
          </p>
          <p class="card-text">
            <form action="cart/edit" method="post">
              <label>Quantity</label>
              <input type="hidden" name="id" value="{{product.id}}">
              <input type="number" name="quantity" min="0" value="{{product.quantity}}">
              <button type="submit" class="btn btn-primary">Set Quantity</button>
            </form>
          </p>
          <div>
            Subtotal: {{currency product.subtotal}}
          </div>
          <p class="card-text">
            <form action="cart/remove" method="post">
              <input type="hidden" name="id" value="{{product.id}}">
              <button type="submit" class="btn btn-primary">Remove</button>
            </form>
          </p>
        </div>
      </div>
    </div>
    {{/each }}
  </div>


  <div>
    Total: {{currency total}}
  </div>
  <p class="card-text">
    <form action="cart/removeAll" method="post">
      <button type="submit" class="btn btn-danger">Destroy Everything</button>
      <button href="/checkouts" class="btn btn-success" type="button" name="button">Checkout</button>
    </form>
  </p>
{{else }}
  <p class="text-danger">No products</p>
{{/if }}
