<div class="row">
  <div class="xs-col-12">
    <h2 class="center-form">Payment</h2>
    <h3>Customer</h3>
    <h4>{{transaction.firstName}} {{transaction.lastName}}</h4>
    <h5>{{transaction.streetAddress}}</h5>
    <h5>{{transaction.cityAddress}}, {{transaction.stateAddress}}</h5>

    <h3>Pay ${{transaction.total}} now: </h3>

    <form action="/cart/charges" method="post">
      <input type="hidden" name="total" value="{{transaction.total}}">
      <input type="hidden" name="transaction" value="{{transaction.firstName}} {{transaction.lastName}}">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ STRIPE_PK }}"
        data-amount={{charge_total}}
        data-name="Stripe Node Test"
        data-description="Widget"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto">
        </script>
    </form>

  </div>
</div>
