<div class="row text-center">
  <h1>Cart</h1>
</div>

{{#each products as |product|}}
<div class="row panel panel-default">
  <div class="col-sm-3">
    <img src="/images/product_image.jpg" class="img-responsive">
  </div>
  <div class="col-sm-3">
    <p>{{product.name}}</p>
    <p>{{product.Category.name}}</p>
    <p>${{product.price}}</p>
  </div>
  <div class="col-sm-3">
    <form action="/cart/{{product.id}}" method="get">
      <input type="number" class="form-control" name="quantity" value="{{product.quantity}}">
  </div>
  <div class="col-sm-3">
    <input type="submit" class="btn btn-success" value="Set Quantity">
    </form>
    <br><br>
    <form action="/cart/{{product.id}}" method="get">
      <input type="hidden" class="form-control" name="quantity" value="0">
      <input type="submit" class="btn btn-danger" value="Remove">
    </form>
  </div>
</div>
{{/each}}

<div class="row">
  <div class="col-sm-9">
    <h3>Total: ${{total}}.00</h3>
  </div>
  <div class="col-sm-3">
    <a href="/cart?_method=delete"><button type="button" class="btn btn-danger btn-lg">Clear Cart</button></a>
    <a href="/checkout"><button type="button" class="btn btn-primary btn-lg">Checkout</button></a>
  </div>
</div>
