<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Orders</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Checkout Date</th>
          <th>Revenue</th>
          <th>Customer Email</th>
          <th>Customer State</th>
        </tr>
      </thead>
      <tbody>
        {{#each orders as |order|}}
          <tr>
            <td><a href="/admin/orders/show/{{order.id}}">{{order.id}}</a></td>
            <td>{{order.description}}</td>
            <td>{{order.checkoutDate}}</td>
            <td>${{order.total}}</td>
            <td>{{order.email}}</td>
            <td>{{order.state}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
