<h1>Checkout</h1>
<div class="row">
  <div class="col-md-6">
    <h2>Enter Billing Info</h2>
    <form class="" action="/pay" method="post">
      <div class="form-row">
        <div class="col">
          <input type="text" class="form-control" name="fname" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" name="lname" placeholder="Last name">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Address</label>
        <input name="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input name="city" type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control" name="state">
            <option value="AL">Alabama</option>
          	<option value="AK">Alaska</option>
          	<option value="AZ">Arizona</option>
          	<option value="AR">Arkansas</option>
          	<option value="CA">California</option>
          	<option value="CO">Colorado</option>
          	<option value="CT">Connecticut</option>
          	<option value="DE">Delaware</option>
          	<option value="DC">District Of Columbia</option>
          	<option value="FL">Florida</option>
          	<option value="GA">Georgia</option>
          	<option value="HI">Hawaii</option>
          	<option value="ID">Idaho</option>
          	<option value="IL">Illinois</option>
          	<option value="IN">Indiana</option>
          	<option value="IA">Iowa</option>
          	<option value="KS">Kansas</option>
          	<option value="KY">Kentucky</option>
          	<option value="LA">Louisiana</option>
          	<option value="ME">Maine</option>
          	<option value="MD">Maryland</option>
          	<option value="MA">Massachusetts</option>
          	<option value="MI">Michigan</option>
          	<option value="MN">Minnesota</option>
          	<option value="MS">Mississippi</option>
          	<option value="MO">Missouri</option>
          	<option value="MT">Montana</option>
          	<option value="NE">Nebraska</option>
          	<option value="NV">Nevada</option>
          	<option value="NH">New Hampshire</option>
          	<option value="NJ">New Jersey</option>
          	<option value="NM">New Mexico</option>
          	<option value="NY">New York</option>
          	<option value="NC">North Carolina</option>
          	<option value="ND">North Dakota</option>
          	<option value="OH">Ohio</option>
          	<option value="OK">Oklahoma</option>
          	<option value="OR">Oregon</option>
          	<option value="PA">Pennsylvania</option>
          	<option value="RI">Rhode Island</option>
          	<option value="SC">South Carolina</option>
          	<option value="SD">South Dakota</option>
          	<option value="TN">Tennessee</option>
          	<option value="TX">Texas</option>
          	<option value="UT">Utah</option>
          	<option value="VT">Vermont</option>
          	<option value="VA">Virginia</option>
          	<option value="WA">Washington</option>
          	<option value="WV">West Virginia</option>
          	<option value="WI">Wisconsin</option>
          	<option value="WY">Wyoming</option>
            <option value="AS">American Samoa</option>
            <option value="GU">Guam</option>
            <option value="MP">Northern Mariana Islands</option>
            <option value="PR">Puerto Rico</option>
            <option value="UM">United States Minor Outlying Islands</option>
            <option value="VI">Virgin Islands</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input name="zip" type="text" class="form-control" id="inputZip">
        </div>
      </div>

      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ STRIPE_PK }}"
        data-amount="{{total}}00"
        data-name="Stripe Node Test"
        data-description="Widget"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto">
      </script>
      <input type="hidden" name="price" value="{{ total }}">
      <input type="hidden" name="description" value="{{ result.0.name}}">
      <a href="/mycart"><button  class="btn btn-primary">Return to Cart</button></a>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Order Items</h2>
    {{#each result as |product|}}
      <div class="row mb-3">
        <div class="col-md-4">
          <img style="width:100px;height:100px;" src="/images/product.png" alt="">
        </div>
        <div class="col-md-4">
          <h5>{{product.name}}</h5>
          <h6>{{product.Category.name}}</h6>
        </div>
        <div class="col-md-4">
          <h5>Each: ${{product.price}}.00</h5>
          <h5>{{product.quantity}} items</h5>
          <h5>subtotal: ${{product.total}}</h5>
        </div>
      </div>
    {{/each}}
    <h5>PAY ${{total}}.00</h5>
  </div>

</div>
