<header class="page-header">
  <h1>Your Products</h1>
</header>
<!--
name: DataTypes.STRING,
sku: DataTypes.INTEGER,
description: DataTypes.STRING,
price: DataTypes.INTEGER,
categoryId: DataTypes.INTEGER, -->




<h2>Search</h2>
<form action="/products">
  {{!-- Price--}}
  <h3>Price</h3>
  <select class="form-control" name="price[min]" id="price_min">
    {{#times start=0 stop=10 as |prices| }}
      <option value="{{ prices }}" {{#if (eq searchSettings.price.min prices) }}selected{{/if }}>{{prices }}</option>
    {{/times}}
  </select>
  <br>
  <select class="form-control" name="price[max]" id="height_max">
    {{#times start=0 stop=10 as |prices| }}
      <option value="{{ prices }}" {{#if (eq searchSettings.price.max prices) }}selected{{/if }}>{{prices }}</option>
    {{/times}}
  </select>


  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Category
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      {{#each categories as |category|}}
      <li>{{category}}<</li>
      {{/each}}
    </ul>
  </div>


  {{!-- Category Type --}}
  <h3>Category Type</h3>
  {{#each products as |product| }}
    <div class="checkbox">
      <label for="category_types_{{ product.Category.name }}">
        <input type="checkbox" name="category_types[]" id="category_types_{{ product.Category.name }}" value="{{ product.Category.name }}" {{#if (lookup ../searchSettings.categoryTypes product.Category.name) }}checked{{/if }}> {{ product.Category.name }}
      </label>
    </div>
  {{/each }}

  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>




{{#if products.length }}
  <div id="search-results" class="row">
    {{#each products as |product| }}
      <div class="user col-xs-12 col-sm-6 col-md-4 text-center">
        <div class="thumbnail">
          <img src="{{ productImagePath }}" alt="Product image" class="img-responsive">
          <div class="caption">
            <h3>
              <a href="{{ productPath product.id }}" class="btn btn-default" role="button">{{product.name}}</a>
            </3>
          </div>
        </div>
      </div>
    {{/each }}
  </div>
{{else }}
  <p class="text-danger">No products</p>
{{/if }}
