<header class="page-header">
  <h1>Products</h1>
</header>


{{#if products.length }}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each products as |product| }}
    <tr>
      <td>
        <a href="{{ productPath product.id }}">{{ product.name }}</a>
      </td>
      <td>
        <a href="{{ categoryPath product.Category.id }}">{{ product.Category.name }}</a>
      </td>
      <td>
        {{ product.prettyPrice }}
      </td>
      <td>
        <a class="btn btn-primary" href="{{ addProductPath product.id }}">
            Add to Cart</a>
      </td>
    </tr>
    {{/each }}
  </tbody>
</table>
{{else }}
<p class="text-danger">No products</p>
{{/if }}
