<header class="page-header">
 <h1>Products</h1>
 {{#if hasSearched}}
 <h2>Results from search: {{search}}<h2>
 {{/if}}
</header>

<form action="/search" method="GET">
  <div class="form-group">
    <input type="text" name="search_text" class="form-control" id="search_text" placeholder="Search">
     <button type="submit" class="btn btn-primary">Submit Search</button>
  </div>
</form>

<form>
  <div class="form-group">
    <input type="number" class="form-control" id="min_price" placeholder="Minimum Price">
    <input type="number" class="form-control" id="max_price" placeholder="Maximum Price">
    <select name="category[id]" id="category" class="form-control">
      <option value="empty"></option>
        {{#each categories as |category| }}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {{/each }}
      </select>
    </div>
     <button type="submit" class="btn btn-primary">Submit Search</button>
  </div>
</form>

<form>
  <div class="form-group">
    <label for="sort">Sort By:</label>
    <select name="sortBy" id="sort_by" class="form-control">
      <option value="empty"></option>
      <option value="nameAsc">By name ascending</option>
      <option value="nameDesc">By name descending</option>
      <option value="priceAsc">By price ascending</option>
      <option value="priceDesc">By price ascending</option>
      <option value="createdAsc">Oldest first</option>
      <option value="createdDesc">Newest first</option>
    </select>
    <button type="submit" class="btn btn-primary">Submit Search</button>
  </div>
</form>

<div class="row">
  <div class="col-xs-12 text-center">
    <h2>Products:</h2>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
 {{#each products as |product|}}
    <div class="col-xs-4 index-img">
      <img src="/images/{{product.photo}}" /><br>
      <div class="text-center">
        <p><a href="/products/{{product.id}}">{{product.name}}</a></p>
        <p>{{product.price}}</p>
        <p>{{product.Category.name}}</p>
        <button type="submit" class="btn btn-primary">Add to Cart</button>
      </div>
    </div>
  {{/each}}
</div>
<div class="clearfix"></div>
