<header class="page-header">
  <h1>Products</h1>

  <form class="form-inline" action="/products" method="get">
    <div class="form-group">
      <label for="search">Search</label>
      <input type="text" class="form-control" name="search" id="search">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>


  <br>
  <form class="form-inline" action="/products" method="get">
    <div class="form-group">
      <label for="sortSelect">Category</label>
      <select class="form-control" name="category" id="sortSelect">
        <option>All</option>
        {{#each categories as |category|}}
        <option value="{{category.id}}">{{category.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="min">Min price</label>
      <input type="number" class="form-control" min="0" name="min" id="min">
    </div>
    <div class="form-group">
      <label for="max">Max price</label>
      <input type="number" class="form-control" min="0" name="max" id="max">
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
  <br>

  <form class="form-inline" action="/products" method="get">
    <div class="form-group">
      <label for="sortSelect">Sort by</label>
      <select class="form-control" name="sort" id="sortSelect">
        <option value="">Default</option>
        <option value="price">Price Asc</option>
        <option value="priceDesc">Price Desc</option>
        <option value="name">Name Asc</option>
        <option value="nameDesc">Name Desc</option>
        <option value="created">Newest First</option>
        <option value="createdDesc">Oldest First</option>
      </select>
    </div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</header>

<br>

{{#if products.length }}
  <div class="row">
    {{#each products as |product| }}
    <div class="col-sm-4">
      <div class="card">
        <a href="/products/{{ product.id }}">
          <img class="card-img-top gallery-image" src="http://i.imgur.com/qK42fUu.jpg">
        </a>
        <div class="card-block">
          <div class="float-right">
            ${{product.price}}
          </div>
          <h4 class="card-title">
            <a href="/products/{{ product.id }}">
              {{product.name}}
            </a>
          </h4>
          <p class="card-text">
            in
            <a href="/categories/{{ product.Category.id }}">
              {{product.Category.name}}
            </a>
          </p>
          <p class="card-text">
            {{product.description}}
          </p>
          <a href="#" class="btn btn-primary">+ Cart</a>
        </div>
      </div>
    </div>
    {{/each }}
  </div>


{{else }}
  <p class="text-danger">No products</p>
{{/if }}
