{{> products/search}}

<div class="container">
  <h2>Products Found:</h3>
  {{#if products.length }}
  <div class="row">
    {{#each products as |product| }}
      <div class="col-md-4 products-view">
        <div class="product-box">
          <img src="/images/placeholder.png" alt="Black checkmark">
          <h4><a href="{{ productPath product.id }}">{{ product.name }}</a></h4>
          <p>${{ product.price }}</p>
          <p>Department: {{ product.Category.name }}</p>

          {{#if (cartHasProduct product.id @root.session.cart.products)}}
            <a href="{{ cartShowPath }}"><button class="btn btn-success add-to-cart">Edit in Cart</button></a>
          {{else }}
            <a href="{{ cartPath product.id }}?quantity=1"><button class="btn btn-primary add-to-cart">Add to Cart</button></a>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
  {{else }}
  <div class="row">
    <h3>Sorry, no products could be found! Try a different search?</h3>
  </div>
  {{/if }}
</div>