<header class="page-header">
  <h1>Products</h1>
  <form class="form-inline" action="/products" method="get">
    <div class="form-group">
      <label for="exampleSelect1">Sort by</label>
      <select class="form-control" id="exampleSelect1">
        <option>Default</option>
        <option>Price Asc</option>
        <option>Price Desc</option>
        <option>Name Asc</option>
        <option>Name Desc</option>
        <option>Newest First</option>
        <option>Oldest First</option>
      </select>
    </div>
     <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</header>


{{#if products.length }}
  <div class="row">
    {{#each products as |product| }}
      <div class="col-sm-4">
        <div class="thumbnail">
          <div>
            <a href="/categories/{{ product.Category.id }}">
              {{product.Category.name}}
            </a>
          </div>
          <a href="/products/{{ product.id }}">
            <img src="http://i.imgur.com/qK42fUu.jpg">
            <h6>{{product.name}} - {{product.price}}</h6>
          </a>
				</div>
      </div>
    {{/each }}
  </div>


{{else }}
  <p class="text-danger">No products</p>
{{/if }}
