<main class="container-fluid" style="background-color:aliceblue; margin-top:120px;">
  <div>
    <h1 style="color:blue; text-align:center;">Product</h1>
  </div>
  <div class="row" style="border:solid 1px black; margin:50px; text-align:left; ">
		<div class="col-sm-2">
		  <img style="height:8em; width:8em; margin:20px 20px;" src="/images/product.png">
		</div>
		<div class="col-sm-3" style="margin:30px 30px; font-size:14px;">
		 	<span><b>Name:&nbsp;</b>{{product.name}}</span><br><br>
		  <span><b>Category:&nbsp;</b>{{product.Category.name}}</span><br><br>
		  <span><b>Price:&nbsp;</b>${{product.price}}</span>
		</div>
		<div class="col-sm-6" style="margin:30px 10px; font-size:14px;">
			<span><b>Description:&nbsp;</b>{{product.description}}</span><br>

			{{#if product.inCart}}
         <form class="" action="/mycart" method="get" style="margin-top:20px">
          <input type="hidden" name="name" value="{{product.name}}">
          <input type="submit" class="btn btn-success" value="Edit Cart">
        </form>  
      {{else}}
        <form class="" action="/cart/{{product.id}}" method="post" style="margin-top:20px">
          <input type="hidden" name="name" value="{{product.name}}">
          <input type="submit" class="btn btn-primary" value="Add to Cart">
        </form>
      {{/if}}
			
		</div>
	</div>
	<hr>
	<h2 style="color: blue; text-align: center">Related Products</h2>
	<div class="row">
    {{#if relatedProducts}}
	    {{#each relatedProducts as |product|}}
	      <div class="col-xs-4" style="height:320px; width:250px; border:solid 1px black; margin:10px 13px;  text-align: center; ">
	        <img src="/images/product.png" style="height:8em; width:8em; margin-top:18px; padding:10px;"/>
	        <br>
	        <div style="margin-top:1em; font-size:14px; text-align:center">
	        	<p>${{product.price}}</p>
	        	<p>{{product.name}}</p>
	        	<p>Category: {{product.Category.name}}</p>

	        	{{#if product.inCart}}
               <form class="" action="/mycart" method="get">
                <input type="hidden" name="name" value="{{product.name}}">
                <input type="submit" class="btn btn-success" value="Edit Cart">
              </form>  
            {{else}}
              <form class="" action="/cart/{{product.id}}" method="post">
                <input type="hidden" name="name" value="{{product.name}}">
                <input type="submit" class="btn btn-primary" value="Add to Cart">
              </form>
            {{/if}}
	        	
	        </div>
	      </div>
	    {{/each}}
    {{else}}
    	<h3>No Related Products</h3>
    {{/if}}
	</div>
</main>