<div class="container">
  <div class="row">
    <h1>{{ currentProduct.name }}</h1>
  </div>
  <div class="row product-details">
    <div class="col-md-3">
      <img src="/images/placeholder.png" class="img-responsive product-img" alt="Black checkmark">
    </div>
    <div class="col-md-9">
      <p>Price: ${{ currentProduct.price }}</p>
      <p>Category: {{ currentProduct.Category.name }}</p>
      <h3>Description</h3>
      <p>{{ currentProduct.description }}</p>
      <a href="{{ cartPath currentProduct.id }}?quantity=1"><button class="btn btn-primary add-to-cart">Add to Cart</button></a>
    </div>
  </div>
  <h3>Related Products: </h3>
  {{#if relatedProducts.length }}
  <div class="row">
    {{#each relatedProducts as |product| }}
      <div class="col-md-4 products-view">
        <div class="product-box">
          <img src="/images/placeholder.png" alt="Black checkmark">
          <h4><a href="{{ productPath product.id }}">{{ product.name }}</a></h4>
          <p>${{ product.price }}</p>
          <p>Department: {{ product.Category.name }}</p>
          <a href="{{ cartPath product.id }}?quantity=1"><button class="btn btn-primary add-to-cart">Add to Cart</button></a>
        </div>
      </div>
    {{/each}}
  </div>
  {{else }}
  <div class="row">
    <h3>Sorry, no products could be found! Try a different search?</h3>
  </div>
  {{/if }}
</div>