<header class="page-header row">
  <div class="col-md-4">
    </div>
  <div class="col-md-8">
    <h1>{{ product.name }}</h1>
    <p>{{ product.price}}</p>
  </div>
</header>


<div class="details">
  <div class="col-md-8">
    <h2>Description</h2>
    <p>{{ product.description }}</p>

    <h2>SKU</h2>
    <p>{{ product.sku }}</p>

    <h2>Category</h2>
    <p>{{ product.categoryId }}</p>

    <a href="#" class="btn btn-lg btn-primary">Buy Me!</a>
  </div>
</div>
