<header class="page-header">
  <h1>{{ product.name }}</h1>
  Category: <a href="{{ categoryPath product.Category.id }}">{{ product.Category.name }}</a>
</header>

<div class="panel panel-primary">
  <div class="panel-body">
    <p>{{ product.prettyPrice }}</p>
    <p>{{ product.description}}</p>
    <a class="btn btn-primary" href="{{ addProductPath product.id }}">Add to Cart</a>
  </div>
</div>

<h2>Related Products</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each product.Category.Products as |product| }}
    <tr>
      <td>
        <a href="{{ productPath product.id }}">{{ product.name }}</a>
      </td>
      <td>
        <a href="{{ productPath product.id }}">{{ product.prettyPrice }}</a>
      </td>
      <td>
        <a class="btn btn-primary" href="{{ addProductPath product.id }}">Add to Cart</a>
      </td>
    </tr>
    {{/each }}
