
<h2>Search</h2>
<form action="/products">


  {{!-- Price--}}
  <h3>Price</h3>
  <select class="form-control" name="price[min]" id="price_min">
    {{#times start=0 stop=1000000 as |prices| }}
      <option value="{{ prices }}" {{#if (eq searchSettings.price.min prices) }}selected{{/if }}>{{prices }}</option>
    {{/times}}
  </select>
  <br>
  <select class="form-control" name="height[max]" id="height_max">
    {{#times start=0 stop=1000000 as |prices| }}
      <option value="{{ prices }}" {{#if (eq searchSettings.price.max prices) }}selected{{/if }}>{{prices }}</option>
    {{/times}}
  </select>

  {{!-- Product Type --}}
  <h3>Category Type</h3>
  {{#each categoryTypes as |categoryType| }}
    <div class="checkbox">
      <label for="category_types_{{ productType }}">
        <input type="checkbox" name="category_types[]" id="category_types_{{ categoryType }}" value="{{ categoryType }}" {{#if (lookup ../searchSettings.categoryTypes categoryType) }}checked{{/if }}> {{ categoryType }}
      </label>
    </div>
  {{/each }}


  <div class="form-group">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
